.wrap {
  display: flex;
  gap: 1em;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .students {
    width: 100%;
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .card {
      width: calc(90% - 1em);
    }

    @media screen and (min-width: 40em) {
      .card {
        width: calc(50% - 1em);
      }
    }

    @media screen and (min-width: 60em) {
      .card {
        width: calc(25% - 1em);
      }
    }

    .title {
      font-size: 2em;
    }
  }

  .ctrl {
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;
  }
}
