#site {
  min-height: 100vh;
}

#content {
  margin: 24px 16px 10px;
  display: flex;
  flex-direction: column;
}

#footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  background: #222;
  padding: 1em;
}
